<section class="section">
    <div class="container">
        <h1 class="title">
            Endorse eachother's skills to get ahead
        </h1>
        <p class="content">
            Review projects of your peers and exchange LinkedIn endorsements
        </p>
        <a href="/community/endorse/upload">
            <button class="button is-primary">
                Upload Projects
            </button>
        </a>
    </div>
</section>