<section class="section">
    <div class="container">
        <h1 class="title">
            Endorsements for LinkedIn
        </h1>
        <p>
            Receive Linkedin endorsements from Fellow IronHackers in 3 steps
        </p>
        <p>PAUZED ROUTE (FINISH CV's FIRST!)</p>
    </div>
</section>

