<footer class="footer" style="padding: 2rem 1.5rem 2rem">
  <div class="content has-text-centered">
    <p>
      Iron Impression by Robin Hahne and Bas Wakker. Graphics by <strong><a href="https://dribbble.com/rboy">Rocketboy</a></strong>
    </p>
  </div>
</footer>