<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/community/home">Community Home</a></li>
        <li><a href="/community/endorse">Endorsement</a></li>
        <li><a href="/community/resume">CV</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>