<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/img/diamond-only.png" width="" height="28">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navMenu" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/community/home">
                Home
            </a>
            <a class="navbar-item" href="/community/endorse">
                Linkedin
            </a>
            <a class="navbar-item" href="/community/resume">
                Resume
            </a>

        </div>
        <div class="navbar-end">
            {{#if currentUser}}
            <a class="navbar-item" href="/users/profile">
                Account
            </a>
            {{/if}}
            <div class="navbar-item">
                <div class="buttons">
                    {{#unless currentUser}}
                    <a class="button is-primary" href="/">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light" href="/users/login">
                        Log in
                    </a>
                    {{/unless}}

                    {{#if currentUser}}
                    <a class="button is-light" href="/users/logout">
                        Logout
                    </a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</nav>