<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-one-thirds">
                <h1 class="title is-spaced">
                    Receive Feedback on your resume by fellow IronHackers
                </h1>
                <h2 class="subtitle">
                    Prepare your CV and Linkedin for the professional world together
                </h2>
            </div>
            <div class="column"></div>
        </div>

        {{!-- Resume Direction --}}
        <div class="columns">
            <div class="column"></div>
            <div class="column is-one-thirds">
                <a href="/community/resume">
                    <figure class="image is-3by4">
                        <img src="https://bulma.io/images/placeholders/256x256.png">
                    </figure>
                </a>
                <a href="/community/resume">
                    <div class="content">
                        <p class="subtitle is-6 is-spaced">Get feedback on your resume</p>
                    </div>
                </a>
                <a href="/community/resume">
                    <button class="button is-primary">Learn more</button>
                </a>
            </div>
            <div class="column"></div>
        </div>

        {{!-- Endorsement Direction --}}
        <a href="/community/endorse">
            <figure class="image is-3by4">
                <img src="https://bulma.io/images/placeholders/256x256.png">
            </figure>
        </a>
        <a href="/community/endorse">
            <p class="content">Receive endorsements for your LinkedIn</p>
        </a>
        <a href="/community/endorse">
            <button class="button is-primary">Learn more</button>
        </a>
</section>