<h1>Receive Feedback on your resume by fellow IronHackers</h1>
<p>Prepare your CV and Linkedin for the professional world together</p>

<a href="/community/resume">
    <p>Get feedback on your resume</p>
</a>

<a href="/community/resume">
    <button>Learn more</button>
</a>

<a href="/community/endorse">
    <p>Get feedback on your resume</p>
</a>

<a href="/community/endorse">
    <button>Learn more</button>
</a>