<section class="hero is-medium is-bold" style="text-align: center;">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Receive Feedback on your resume by fellow IronHackers
            </h1><br>
            <h2 class="subtitle">
                <p class="is-dark">Prepare your CV and Linkedin for the professional world together</p>
            </h2>
        </div>
    </div>
</section>
<section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Get feedback on your resume
            </h1><br>
            <h2 class="subtitle">
                <a href="/community/resume">
                    <button class="button is-light">Learn more</button>
                </a>
            </h2>
        </div>
    </div>
</section>
<section class="hero is-medium is-bold" style="text-align: right;">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Get feedback on your linkedIn
            </h1><br>
            <h2 class="subtitle">
                <a href="/community/endorse">
                    <button class="button is-primary">Learn more</button>
                </a>
            </h2>
        </div>
    </div>
</section>