{{> nav}}
<section class="hero is-medium is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-one-fifth"></div>
                <div class="column">
                    <h1 class="title is-1 is-spaced">
                        Receive feedback on your resume
                    </h1>
                    <h2 class="subtitle">
                        Prepare your CV and Linkedin for the professional world together
                    </h2>
                    {{#if currentUser}}
                    <div class="button-combo" style="display: flex">
                        <a class="button is-dark" href="/community/resume">
                            <span class="icon">
                                <i <i class="fas fa-address-card"></i></i>
                            </span>
                            <span>Resume</span>
                        </a>
                        <a class="button is-dark" href="/community/endorse">
                            <span class="icon">
                                <i class="fab fa-linkedin"></i>
                            </span>
                            <span>Linkedin</span>
                        </a>
                    </div>
                    {{/if}}
                </div>
                <div class="column">
                    <img src="/img/resume-feedback2.png" alt="">
                </div>
                <div class="column is-one-fifth"></div>
            </div>
        </div>
    </div>
</section>

<section class="hero is-light is-bold is-medium">
    <div class="hero-body ">
        <div class="container">
            <div class="columns ">
                <div class="column">
                    <div class="columns">
                        <div class="column">
                            <figure class="image is 96x96">
                                <img src="/img/icons/searching.png">
                            </figure>
                        </div>
                        <div class="column is-four-fifths">
                            <h1 class="title is-primary">
                                Get feedback on your resume
                            </h1>
                            <p class="subtitle">
                                Upload your CV and get ahead!
                            </p>
                            {{#if currentUser}}
                            <a href="/community/resume">
                                <button class="button is-dark">Get it now</button>
                            </a>
                            {{/if}}
                            {{#unless currentUser}}
                            <a href="/">
                                <button class="button is-dark">Sign up</button>
                            </a>
                            {{/unless}}
                        </div>
                    </div>
                </div>
                <div class="column">

                </div>
            </div>
        </div>
    </div>
</section>
<section class="hero is-dark is-bold is-medium">
    <div class="hero-body ">
        <div class="container">
            <div class="columns">
                <div class="column">
                </div>
                <div class="column" style="text-align: right;">
                    <div class="columns">
                        <div class="column is-four-fifths">
                            <h1 class="title is-primary">
                                Exchange Linkedin endorsements

                            </h1>
                            <p class="subtitle">
                                Add projects for review
                            </p>
                            {{#if currentUser}}
                            <a href="/community/endorse">
                                <button class="button is-light">Do it now</button>
                            </a>
                            {{/if}}
                            {{#unless currentUser}}
                            <a href="/">
                                <button class="button is-light">Sign up</button>
                            </a>
                            {{/unless}}
                        </div>
                        <div class="column">
                            <figure class="image is 96x96">
                                <img src="/img/icons/transfer.png">
                            </figure>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{> footer}}