<section class="section">
    <div class="container">
        <h1 class="title">
            About Page
        </h1>
        <p class="content">
            General information about Iron Impression
        </p>
    </div>
</section>