{{> nav}}
<div class="columns is-vcentered" style="max-width: 100vw; margin: 0px;" >
    <div class="column">

    </div>

    <div class="column is-5" id="hero-column-overview" style="text-align: left;">
        <h1 id="hero-text-overview" class="title is-spaced">
            Iron Impression

        </h1>
        <h2 class="subtitle" style="font-size: 1.5em;">
            Iron Impression is an IronHack alumni community where we help eachother get ahead with CV’s and LinkedIn
        </h2>
                      <div class="">
            <form id="regist" action="/users/register" method="post">
              <div class="field has-addons">
                <div class="control has-icons-left">
                  {{#unless currentUser}}
                  <input class="input is-hovered" type="email" name="email" placeholder="Your E-Mail">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  {{/unless}}
                </div>
                <div class="control">
                  {{#unless currentUser}}
                  <button type="submit" class="button is-info">Register</button>
                  {{/unless}}
                  <br>
                </div>
              </div>
              {{#unless currentUser}}
              <small>Already have an account? <a href="/users/login">Login</a></small>
              {{/unless}}
            </form>
            {{#if errorMessage }}
            <p class="help is-danger">{{ errorMessage }}</p>
            {{/if}}
            <br>
          </div>
    </div>


    <div class="column is-6" style="padding:0px; margin: 0px;">
        <figure style="padding:0px; margin-bottom: -4px; height: auto">
            <img id="hero-img-overview" src="/img/home-iron.png" alt="improve-your-cv-son" style="height: vh100">
        </figure>
    </div>
</div>

<section class="hero is-dark is-bold" >
  <div class="hero-body">
    <div class="container">
      <div class="tiles-home-page">
      <div class="columns is-centered">

        <div class="column has-text-centered is-one-third">
          <figure class="image is-96x96">
            <img src="/img/icons/feedback.svg" alt="">
          </figure>
          <h2 class="subtitle home-text">
            Receive honest feedback on your resume
          </h2>
        </div>
        <hr class="hr">

        <div class="column has-text-centered is-one-third">
          <figure class="image is-96x96">
            <img src="/img/icons/usability.svg" alt="">
          </figure>

          <h2 class="subtitle home-text">
            Get endorsements on your LinkedIn skills
          </h2>
        </div>
        <hr class="hr">

        <div class="column has-text-centered is-one-third">
          <figure class="image is-96x96">
            <img src="/img/icons/maintenance.svg" alt="">
          </figure>
          <h2 class="subtitle home-text">
            Train your layout skills by improving eachother's CVs
          </h2>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
{{> footer}}
<script>
  $(document).ready(function () {
    $('#regist').validate({ // initialize the plugin
      rules: {
        email: {
          required: true,
          email: true
        }
      }
    });
  });
</script>