<h1>Iron Impression</h1>
<p>Iron Impression is an IronHack alumni community where we help eachother get ahead with CV’s and LinkedIn</p>

{{#if user}}
<p>Hello {{user}}</p>
<h2>
  <a href="/users/profile">My Profile</a>
</h2>
{{else}}
<form action="/users/register" method="post">
  <input type="email" name="email" id="" placeholder="Your E-Mail">
  <button type="submit">Register</button>
</form>
{{#if errorMessage }}
  <div class="error-message">{{ errorMessage }}</div>
{{/if}}
<br>
or
<h2>
  <a href="/users/login"> Log in </a>
</h2>
{{/if}}