<section class="hero is-medium is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column"></div>

        <div class="column">
          <img src="/img/check-email.png" alt="check-email">
        </div>

        <div class="column">
          <h1 class="title is-2 is-spaced">
            No Permission, son!
          </h1>
          <h2 class="subtitle">
            If you want to access all those juicy pages full of highly valuable information from people all around the
            world, don't hesitate to sign up to Iron Impression!
          </h2>
          <a class="button is-primary" href="/">
            <strong>Sign up</strong>
          </a>
        </div>



        <div class="column"></div>
      </div>
    </div>
  </div>
  </div>
</section>