<section class="section">
    <div class="container">
        <h1 class="title">
            Oi
        </h1>
        {{!-- {{#each resume[0].comments}}
            {{this}}
        {{/each}} --}}
        <p class="subtitle">{{resume.title}}</p>
        <p class="content">{{resume.feedbackDescription}}</p>
        {{!-- {{resume.feedbackTypes.0}} --}}
    </div>
</section>