<section class="section">
    <div class="container">
        <h1 class="title">
            Create the best CVs together
        </h1>
        <p class="content">
            Receive feedback on your resume and help others with your opinion
        </p>
        <a href="/community/resume/upload">
            <button class="button is-primary">Upload your CV</button>
        </a>
        {{#each resumes}}
        <img src="{{this.path}}" alt="">
        <p>{{this.feedbackDescription}}</p>
        {{/each}}
    </div>
</section>