body,
html {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.canvas-pdf {
  /* border: 1px solid lightgrey; */
  width: 100%;
}

.hidden {
  display: none;
}

.tiles-home-page .column {
  margin: 20px 0px;
}

.tiles-home-page figure {
  display: block;
  margin: 0 auto;
}

.tiles-home-page .home-text {
  max-width: 150px;
  display: block;
  margin: 25px auto;
}

.button-combo button,
a {
  margin: 10px 5px 0px 0px;
}

nav a {
  margin-top: 0px;
}

a, button {
  cursor: pointer;
}

.card {
  border-radius: 3px; 
  border: solid 0.5px hsl(0, 0%, 92%);
}

@media(max-width: 768px) {
  .reversed-order  {
    flex-direction: column-reverse;
    display: flex;
  }

  #hero-img-overview {
    display: none;
  }
  #hero-column-overview {
    display: block;
    margin-left: 5%;
  }
}

#hero-text-overview {
  font-size: 4em;
}

@media(max-width: 1022px) {
  #hero-text-overview {
    font-size: 2em;
  }
}

ul.no-list-style{
  margin-left: 0px;
}
.no-list-style li{
  list-style: none;
}