<section class="section">
  <div class="container">
    <h1 class="title is-2">
      Edit Profile
    </h1>
    <p class="content">
      edit the desired fields:
    </p>
    <form action="/users/{{loggedUser._doc._id}}/edit" method="POST" id="edit">
      <div class="field">
        <label class="label">LinkedIn</label>
        <div class="control">
          <input class="input" type="text" name="linkedin" value="{{loggedUser._doc.linkedin}}">
        </div>
      </div>
      <label class="label">Bio</label>
      <div class="field-label is-normal">
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <textarea class="textarea" name="bio"
              placeholder="Tell us about yourself!">{{loggedUser._doc.bio}}</textarea>
            <br>
          </div>
        </div>
      </div>
      <br>
      <div class="field">
        <p class="control">
          <button class="button is-success">
            Change!
          </button>
        </p>
      </div>
    </form>
    <br>
    <form action="logout" method="get">
      <button class="button is-primary">Log me out</button>
    </form>
  </div>
</section>