<h1>User page</h1>
<p>Welcome to the user page</p>


{{#if user}}
<p>Hello {{user}}</p>
<h2>
  <a href="/users/profile">My Profile</a>
</h2>
{{else}}
<h2>
  <a href="/users/signup"> Sign up </a>
</h2>
<h2>
  <a href="/users/login"> Log in </a>
</h2>
{{/if}}