<h1>Log in page</h1>
<p>Welcome to the Log in page</p>

<h2>Log in:</h2>
<form action="/users/login" method="POST" id="login">
  E-Mail: <br>
  <input type="text" name="eMail" value="bob@mail.com"><br>
  Password: <br>
  <input type="password" name="password"><br><br>
  <button>log in</button>
</form>