<section class="hero is-medium is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column"></div>
        <div class="column">
          <h1 class="title is-1 is-spaced">
            Login
          </h1>
          <h2 class="subtitle">
            Welcome to the Login page
          </h2>
          <form action="/users/login" method="POST" id="login">
            <div class="field has-addons">
              <div class="control has-icons-left has-icons-right">
                <input class="input" type="email" name="eMail" placeholder="Email" value="b.r.wakker@gmail.com">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>

              </div>
            </div>
            <div class="field has-addons">
              <div class="control has-icons-left has-icons-right">
                <input class="input" type="password" name="password" placeholder="Password">
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </div>

            </div>

            <div class="field">
              <p class="control">
                <button class="button is-info">
                  Login
                </button>
              </p>
            </div>
            {{#if passwordReset }}
            <p class="content help is-danger">Forgot your Password? <a href="/users/reset">Reset it here!</a></p>
            {{/if}}
            {{#if passwordUpdated}}
            <div class="notification is-info">
              <button class="delete"></button>
              Password has been updated!
            </div>
            {{/if}}
          </form>
        </div>
        <div class="column">
          <img src="/img/style-2019-character-01_2x2.png" alt="">
        </div>
        <div class="column"></div>
      </div>
    </div>
  </div>
  </div>
</section>
<script>
  $(document).ready(function () {
    $('#login').validate({ // initialize the plugin
      rules: {
        eMail: {
          required: true,
          email: true
        },
        password: {
          required: true,
          minlength: 5
        }
      }
    });
  });
</script>