<section class="section">
  <div class="container">
    <h1 class="title is-2">
      Check your Mail to get Access!
    </h1>
    <p class="content">
      Email has been sent to {{email}}
    </p>
    <a href="/">back to Home</a>
  </div>
</section>