<section class="hero is-medium is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column"></div>
        <div class="column">
          <h1 class="title is-1 is-spaced">
            You've got mail!
          </h1>
          <h2 class="subtitle">
            An email has been sent to {{email}}. Click the link in the email to complete the signup.
          </h2>
          <div class="field">
            <div class="control">
              <small><a href="/">Back to home</a></small>
            </div>
          </div>

        </div>
        <div class="column">
          <img src="/img/check-email.png" alt="check-email">
        </div>
        <div class="column"></div>
      </div>
    </div>
  </div>
  </div>
</section>
