<h2>Personal Profile Page</h2>

<p>all of the information</p>


<p>
  Hallo {{loggedUser._doc.firstName}}
</p>

<ul>
  <li>
    FirstName: {{loggedUser._doc.firstName}}
  </li>
  <li>
    LastName: {{loggedUser._doc.lastName}}
  </li>
  <li>
    eMail: {{loggedUser._doc.eMail}}
  </li>
</ul>

<a href="/users/edit">edit Profile</a>




<form action="logout" method="get">
  <button>Log me out</button>
</form>