<section class="section">
  <div class="container">
    <h1 class="title is-2">
      {{loggedUser._doc.firstName}} {{loggedUser._doc.lastName}}
    </h1>
    <p class="content">
      Welcome to your personal profile Page!
    </p>

    <ul>
      <li>
        <strong>Bootcamp Class</strong><br>
        Full Stack Web Dev, Amsterdam January 2019
      </li><br>
      <li>
        <strong>Bio</strong> <br>
        Ich habe heute Morgen zwei Bananenschalen gefunden. <br>
        Ausserdem habe ich siebenundvierzig Stroopwaffeln nötig.
      </li>
      <li><br>
        <strong>LinkedIn</strong><br>
          www.linkedin.com/robinhahne
      </li>
      <li><br>
        <strong>E-Mail</strong><br>
          {{loggedUser._doc.eMail}}
      </li>
    </ul>
    <br>
    <form action="logout" method="get">
      <button class="button is-primary">Log out</button>
    </form>

  </div>
</section>