<section class="section">
  <div class="container">
    <h1 class="title is-2">
      Create a new Password, slohn!
    </h1>
    <p class="content">
      Reset password for account: {{email.eMail}}
    </p>

    <form action="/users/resetPassword?emailHash={{emailHash}}" id="resetPassword" method="post">
      <div class="field">
        <label class="label">New Password</label>
        <div class="control has-icons-left">
          <input class="input" id="password" type="password" name="password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </div>
        {{#if errorMessage }}
        <p class="help is-danger">{{ errorMessage }}</p>
        {{/if}}
      </div>
      <div class="field">
        <label class="label">Repeat new Password</label>
        <div class="control has-icons-left">
          <input class="input" type="password" name="password2">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </div>
        {{#if errorMessage }}
        <p class="help is-danger">{{ errorMessage }}</p>
        {{/if}}
      </div>

      <div class="field">
        <p class="control">
          <button class="button is-success">
            Change my password!
          </button>
        </p>
      </div>
    </form>
  </div>
</section>
<script>
$(document).ready(function () {
    $('#resetPassword').validate({ // initialize the plugin
        rules: {
            password: {
                minlength: 5
            },
            password2: {
                minlength: 5,
                equalTo : "#password"
            }
        }
    });
});
</script>