<h2>Forgot your password slohn?</h2>

<form action="/users/reset" method="post">
  <input type="email" name="email" id="" placeholder="Your E-Mail">
  <button type="submit">Reset my password</button>
</form>