<section class="hero is-medium is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column"></div>
        <div class="column is-5">
          <h1 class="title is-3 is-spaced">
            Reset your password
          </h1>
          <h2 class="subtitle is-5">
            Fill in your email:
          </h2>
          <form action="/users/reset" method="POST" id="reset">
            <div class="field has-addons">
              <div class="control has-icons-left has-icons-right">
                <input class="input" type="email" name="eMail" placeholder="Email">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
              <p class="control">
                <button type="submit" class="button is-info">
                  Reset
                </button>
              </p>
            </div>
          </form>
        </div>
        <div class="column">
          <img src="/img/style-2019-character-01_2x2.png" alt="s">
        </div>
        <div class="column"></div>
      </div>
    </div>
  </div>
  </div>
</section>
<script>
  $(document).ready(function () {
    $('#reset').validate({ // initialize the plugin
      rules: {
        eMail: {
          required: true,
          email: true
        }
      }
    });
  });
</script>