<h2>Create a new Password, slohn!</h2>

<p>Reset password for account: {{email.eMail}}</p>

<form action="/users/resetPassword?emailHash={{emailHash}}" method="post">
  New Password: <br>
  <input type="password" name="password"> <br>
  Repeat new Password: <br>
  <input type="password" name="password2">
  <br><br>
  <button type="submit">Change my password!</button>
</form>