<h1>Sign up page</h1>
<p>Welcome to the sign up page</p>

<h2>Register:</h2>
<form action="/users/signup" method="POST" id="register">
  Firstname: <br>
  <input type="text" name="firstName" value="bob"><br>
  Lastname: <br>
  <input type="text" name="lastName" value="bobmeister"><br>
  E-Mail: <br>
  <input type="text" name="eMail" value="bob.der.baumeister@mail.com"><br>
  Password: <br>
  <input type="password" name="password" value="pass"><br>
  <br>
  <button>sign up</button>
</form>